<div class="container" id="container_mytodo">
    <div class="row">
        <div class="col-6">
            <h1>My Todo List Brother</h1>
            <p class="text-muted">Ini Lorem</p>
            <a href="/PROJECT-TODO-LIST/">Kembali ke halaman utama</a>
        </div>
        <div class="col-6 add-todo">
            <h1>Masukkan Todo Anda Brother</h1>
            <form action="/PROJECT-TODO-LIST/mytodo" method="POST">
                <div class="row">
                    <div class="col">
                        <label for="todo" class="form-label">Masukkan Todo</label>
                        <input type="text" required name="todo" class="form-control" placeholder="Masukkan Todo !">
                    </div>
                    <div class="col">
                        <label for="deadline" class="form-label">Masukkan Deadline</label>
                        <input type="date" required name="deadline" class="form-control">
                    </div>
                </div>
                <button class="btn btn-success w-100 mt-4">Buat Todo !!!</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-5" id="table_todo">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Todo</th>
                        <th scope="col">Dibuat Pada</th>
                        <th scope="col">Deadline</th>
                        <th scope="col">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (jika>0) { %>
                        <div class="alert alert-<%= color %> " role="alert">
                            <%= msg %>
                        </div>
                        <% } %>
                            <% result.forEach(datas=> { %>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>
                                        <%= datas.todo %>
                                    </td>
                                    <td>
                                        <%= datas.createdAt %>
                                    </td>
                                    <td>
                                        <%= datas.deadline %>
                                    </td>
                                    <td>
                                        <a href="/PROJECT-TODO-LIST/mytodo/done/<%=datas.id%>"><button
                                                onclick="confirm('Yakin deck sudah selesai ?!')"
                                                class="btn btn-success">Todo Sudah
                                                Selesai
                                                !</button></a>
                                        <a href="/PROJECT-TODO-LIST/mytodo/<%= datas.id %>"><button
                                                class="btn btn-warning">Edit Todo
                                                !</button></a>
                                    </td>
                                </tr>
                                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>